/* CSS Document */

/*main page properties*/

html{
  height:2000px;
}

body{
  height:2000px;
  font-family: 'Century Gothic', sans-serif;
  font-size: 13px;
  line-height: 19px;
  color: #fff;
  height: 100%;
}

body, div, h1, h2, h3, h4, h5, h6, p, ol, ul, table, a, img{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

ol, ul{
  display: block;
  list-style: none;
}

a, a:focus, input, textarea{
  outline: none;
}

a, a:link, a:visited{
  font-weight: bold;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

h1 {
  color: #ffffff;
  font-family: 'Open Sans', Arial, Helvetica;
  font-size: 28px;
  font-weight: 400;
  line-height: 130%;
  margin: 0 0 10px;
  padding: 0;
}
h2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  color: #ffffff;
  font-family: 'Open Sans', Arial, Helvetica;
  margin: 0px;
  padding: 0px;
}

h3 {
  font-family: 'Open Sans',Arial,Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 25px;
  line-height: 130%;
  margin-top: 15px;
  margin-bottom: -5px;
}

p {
  font-family: 'Open Sans', Arial, Helvetica;
  font-size: 14px;
  font-weight: 300;
  line-height: 130%;
  margin: 0px;
  padding: 0px;
  color: #fff;
}

/*end main page properties*/

/*global classes*/

#wrapper{
  position: relative;
  height:2000px;
  min-width: 1600px;
}

.section{
  height:100%;
  background: #000;
  position: relative;
  overflow: hidden;
  min-height: 1200px;
}

.content{
  width: 1300px;
  height: 800px;
  vertical-align: middle;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.hidden {
  display:none;
}

/*global classes*/

/*home*/

#home_title {
  top: 200px;
  left: 70px;
  position: absolute;
  width: 500px;
  text-align: center;
}

#home_image {
  position: absolute;
  right: -20px;
  top: 50%;
  height: 400px;
  width: 565px;
  margin-top: -282px;
}

/*home end*/

/*bio*/

#bio_content {
  width: 370px;
  position:absolute;
  top: 80px;
  left: 150px;
  z-index: 1000;
}

.bio_year {
  width: 100px;
}

#bio_image_left {
  position: absolute;
  left: -30px;
  bottom: 350px;
}

#bio_image_right {
  position: absolute;
  left: 400px;
  bottom: 350px;
  z-index: 200;
}

.background_title {
  position: absolute;
  left: 220px;
  top: 40px;
}

.skills_title {
  position: absolute;
  right: 220px;
  top: 40px;
}

.projects_title {
  position: absolute;
  left: 480px;
  top: 480px;
  z-index: 1000;
}
/*bio end*/

/*skills*/

#skills_title {
  margin-top: 20px;
  margin-left: 450px;
  position: relative;
}

#skills_title_content {
  width: 520px;
  text-align: center;
  position: relative;
}

#skill_sets {
  right: -10px;
  top: 80px;
  position: absolute;
  z-index: 1000;
  li {margin-top: 5px;}
}

.skill_set {
  width: 125px;
  display: inline-block;
  margin-right: 20px;
}

.skill_set li {
  margin-bottom: 7px;
}

.skill_divider {
  clear:both; 
  height:10px;
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
}

#skills_image_left {
  position: absolute;
  right: 330px;
  bottom: 340px;
}

#skills_image_right {
  position: absolute;
  right: 40px;
  bottom: 340px;
}

/*skills end*/

/*projects end*/

#projects_title {
  margin-top: 20px;
  margin-left: 500px;
  position: relative;
}

#projects_title_content {
  width: 430px;
  text-align: center;
  position: relative;
}

.projects {
  margin-top: 300px;
}

.project{
  font-size: 15px;
  padding: 8px 16px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 400;
  color: #000;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  z-index: 1000;
}

#first_project{
  position: absolute;
  left: 430px;
  bottom: 120px;
}

#second_project{
  position: absolute;
  right: 420px;
  bottom: 120px;
}

.project:hover{
  text-decoration: none;
  background: #222;
  color: #fff;
}

#projects_image {
  position: absolute;
  left: 510px;
  bottom: 0px;
}

/*projects end*/

/*interests*/

#interests_title {
  bottom: 20px;
  left: 20px;
  position: absolute;
  z-index: 500;
  width: 430px;
  text-align: center;
}

#interest_ball{
  width: 650px;
  height: 650px;
  position: absolute;
  left: 300px;
  bottom: 180px;
  z-index: 1000;
}

.interest_link:link, .interest_link:visited {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 400;
}

#interests_image {
  position: absolute;
  right: 200px;
  bottom: -230px;
}

.link1 {
  font-size: 34px;
}

.link2, .link3, .link4 {
  font-size: 29px;
}

.link5, .link6, .link7 {
  font-size: 25px;
}

.link8, .link9, .link10, .link11, .link12, .link13, .link14, .link50 {
  font-size: 22px;
}

.link15, .link16, .link17, .link18, .link19, .link20, .link21, .link22, .link23, .link24, .link25, .link26 {
  font-size: 19px;
}

.link27, .link28, .link29, .link30, .link31, .link32, .link33, .link34, .link35, .link36, .link37 {
  font-size: 17px;
}

.link38, .link39, .link40, .link41, .link42, .link43, .link44, .link45, .link46, .link47, .link48, .link49, .link51, .link52, .link53 {
  font-size: 15px;
}

.link54, .link55, .link56, .link57, .link58, .link59 {
  font-size: 13px;
}

.link1 a:visited, .link1 a:link, .link6 a:visited, .link6 a:link, .link11 a:visited, .link11 a:link, .link16 a:visited, .link16 a:link, .link21 a:visited, .link21 a:link, .link26 a:visited, .link26 a:link, .link31 a:visited, .link31 a:link, .link36 a:visited, .link36 a:link, .link41 a:visited, .link41 a:link, .link46 a:visited, .link46 a:link, .link51 a:visited, .link51 a:link, .link56 a:visited, .link56 a:link {
  color: #A1A1A1;
}

.link2 a:visited, .link2 a:link, .link7 a:visited, .link7 a:link, .link12 a:visited, .link12 a:link, .link17 a:visited, .link17 a:link, .link22 a:visited, .link22 a:link, .link27 a:visited, .link27 a:link, .link32 a:visited, .link32 a:link, .link37 a:visited, .link37 a:link, .link42 a:visited, .link42 a:link, .link47 a:visited, .link47 a:link, .link52 a:visited, .link52 a:link, .link57 a:visited, .link57 a:link {
  color: #D9D9D9;
}

.link3 a:visited, .link3 a:link, .link8 a:visited, .link8 a:link, .link13 a:visited, .link13 a:link, .link18 a:visited, .link18 a:link, .link23 a:visited, .link23 a:link, .link28 a:visited, .link28 a:link, .link33 a:visited, .link33 a:link, .link38 a:visited, .link38 a:link, .link43 a:visited, .link43 a:link, .link48 a:visited, .link48 a:link, .link53 a:visited, .link53 a:link, .link58 a:visited, .link58 a:link {
  color: #808080;
}

.link4 a:visited, .link4 a:link, .link9 a:visited, .link9 a:link, .link14 a:visited, .link14 a:link, .link19 a:visited, .link19 a:link, .link24 a:visited, .link24 a:link, .link29 a:visited, .link29 a:link, .link34 a:visited, .link34 a:link, .link39 a:visited, .link39 a:link, .link44 a:visited, .link44 a:link, .link49 a:visited, .link49 a:link, .link54 a:visited, .link54 a:link, .link59 a:visited, .link59 a:link {
  color: #C0C0C0;
}

.link5 a:visited, .link5 a:link, .link10 a:visited, .link10 a:link, .link15 a:visited, .link15 a:link, .link20 a:visited, .link20 a:link, .link25 a:visited, .link25 a:link, .link30 a:visited, .link30 a:link, .link35 a:visited, .link35 a:link, .link40 a:visited, .link40 a:link, .link45 a:visited, .link45 a:link, .link50 a:visited, .link50 a:link, .link55 a:visited, .link55 a:link {
  color: #5C5C5C;
}

#interest_ball a:hover {
  text-decoration: none;
  color: #fff;
}

.link1 {
  position:absolute;
  top: 290px;
  left: 280px;
}

.link3 {
  position:absolute;
  top: 120px;
  left: 210px;
}

.link5 {
  position:absolute;
  top: 160px;
  left: 100px;
}

.link7 {
  position:absolute;
  top: 250px;
  left: 200px;
}

.link9 {
  position:absolute;
  top: 200px;
  left: 160px;
}

.link11 {
  position:absolute;
  top: 250px;
  left: 430px;
}

.link13 {
  position:absolute;
  top: 95px;
  left: 100px;
}

.link15 {
  position:absolute;
  top: 35px;
  left: 240px;
}

.link17 {
  position:absolute;
  top: 80px;
  left: 350px;
}

.link19 {
  position:absolute;
  top: 320px;
  left: 380px;
}

.link21 {
  position:absolute;
  top: 60px;
  left: 135px;
}

.link23 {
  position:absolute;
  top: 320px;
  left: 30px;
}

.link25 {
  position: absolute;
  top: 180px;
  left: 380px;
}

.link27 {
  position: absolute;
  top: 130px;
  left: 480px;
}

.link29 {
  position: absolute;
  top: 300px;
  left: 10px;
}

.link31 {
  position: absolute;
  top: 235px;
  left: 70px;
}

.link33 {
  position: absolute;
  top: 225px;
  left: 270px;
}

.link35 {
  position: absolute;
  top: 60px;
  left: 340px;
}

.link37 {
  position: absolute;
  top: 320px;
  left: 230px;
}

.link39 {
  position: absolute;
  top: 160px;
  left: 240px;
}

.link41 {
  position: absolute;
  top: 150px;
  left: 420px;
}

.link43 {
  position: absolute;
  top: 200px;
  left: 400px;
}

.link45 {
  position: absolute;
  top: 260px;
  left: 30px;
}

.link47 {
  position: absolute;
  top: 280px;
  left: 120px;
}

.link49 {
  position: absolute;
  top: 130px;
  left: 70px;
}

.link51 {
  position: absolute;
  top: 215px;
  left: 550px;
}

.link53 {
  position: absolute;
  top: 205px;
  left: 30px;
}

.link55 {
  position: absolute;
  top: 80px;
  left: 150px;
}

.link57 {
  position: absolute;
  top: 380px;
  left: 90px;
}

.link59 {
  position: absolute;
  top: 290px;
  left: 530px;
}

.link2 {
  position:absolute;
  bottom: 285px;
  right: 280px;
}

.link4 {
  position:absolute;
  bottom: 120px;
  right: 180px;
}

.link6 {
  position:absolute;
  bottom: 160px;
  right: 100px;
}

.link8 {
  position:absolute;
  bottom: 250px;
  right: 200px;
}

.link10 {
  position:absolute;
  bottom: 200px;
  right: 160px;
}

.link12 {
  position:absolute;
  bottom: 220px;
  right: 440px;
}

.link14 {
  position:absolute;
  bottom: 100px;
  right: 90px;
}

.link16 {
  position:absolute;
  bottom: 10px;
  right: 230px;
}

.link18 {
  position:absolute;
  bottom: 80px;
  right: 400px;
}

.link20 {
  position:absolute;
  bottom: 120px;
  right: 320px;
}

.link22 {
  position:absolute;
  bottom: 90px;
  right: 300px;
}

.link24 {
  position:absolute;
  bottom: 60px;
  right: 140px;
}

.link26 {
  position: absolute;
  bottom: 180px;
  right: 380px;
}

.link28 {
  position: absolute;
  bottom: 140px;
  right: 480px;
}

.link30 {
  position: absolute;
  bottom: 300px;
  right: 10px;
}

.link32 {
  position: absolute;
  bottom: 235px;
  right: 70px;
}

.link34 {
  position: absolute;
  bottom: 225px;
  right: 270px;
}

.link36 {
  position: absolute;
  bottom: 40px;
  right: 290px;
}

.link38 {
  position: absolute;
  bottom: 30px;
  right: 190px;
}

.link40 {
  position: absolute;
  bottom: 150px;
  right: 270px;
}

.link42 {
  position: absolute;
  bottom: 180px;
  right: 280px;
}

.link44 {
  position: absolute;
  bottom: 200px;
  right: 400px;
}

.link46 {
  position: absolute;
  bottom: 260px;
  right: 30px;
}

.link48 {
  position: absolute;
  bottom: 280px;
  right: 120px;
}

.link50 {
  position: absolute;
  bottom: 130px;
  right: 55px;
}

.link52 {
  position: absolute;
  bottom: 275px;
  right: 595px;
}

.link54 {
  position: absolute;
  bottom: 205px;
  right: 30px;
}

.link56 {
  position: absolute;
  bottom: 80px;
  right: 150px;
}

.link58 {
  position: absolute;
  bottom: 180px;
  right: 50px;
}

/*interests end*/

/*connect*/

#connect_title {
  bottom: 250px;
  left: 545px;
  position: absolute;
  z-index: 500;
  text-align: center;
}

#facebook_icon {
  position: absolute;
  top: 200px;
  left: 200px;
}

#facebook_icon a {
  width: 300px;
  height: 300px;
  display: block;
  background: url('../images/facebook.png') no-repeat;
  background-size: 100px 100px;
  position:absolute;
  top: 0px;
  bottom: 0px;
}

#facebook_icon a:hover {
  background-image: url('../images/facebook_hover.png');
}

#mail_icon {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 200px;
  left: 580px;
}

#mail_icon a {
  width: 300px;
  height: 300px;
  display: block;
  background: url('../images/mail.png') no-repeat;
  background-size: 100px 100px;
  position:absolute;
  top: 0px;
  bottom: 0px;
}

#mail_icon a:hover {
  background-image: url('../images/mail_hover.png');
}

#linkedin_icon {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 200px;
  right: 200px;
}

#linkedin_icon a {
  width: 300px;
  height: 300px;
  display: block;
  background: url('../images/linkedin.png') no-repeat;
  background-size: 100px 100px;
  position:absolute;
  top: 0px;
  bottom: 0px;
}

#shout_icon {
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: 320px;
  left: 70px;
}

#shout_icon a {
  width: 300px;
  height: 300px;
  display: block;
  background: url('../images/shout.png') no-repeat;
  background-size: 100px 100px;
  position:absolute;
  top: 0px;
  left: 0px;
}

#selflip_icon {
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: 320px;
  left: 270px;
}

#selflip_icon a {
  width: 300px;
  height: 300px;
  display: block;
  background: url('../images/selflip.png') no-repeat;
  background-size: 100px 100px;
  position:absolute;
  top: 0px;
  bottom: 0px;
}

#snapby_icon {
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: 320px;
  left: 470px;
}

#snapby_icon a {
  width: 300px;
  height: 300px;
  display: block;
  background: url('../images/snapby.png') no-repeat;
  background-size: 100px 100px;
  position:absolute;
  top: 0px;
  bottom: 0px;
}

#shout_label {
  position: absolute;
  bottom: 320px;
  left: 93px; 
}

#selflip_label {
  position: absolute;
  bottom: 320px;
  left: 290px; 
}

#snapby_label {
  position: absolute;
  bottom: 320px;
  left: 486px; 
}

#contact_label {
  position: absolute;
  bottom: 200px;
  left: 170px; 
}

#linkedin_icon a:hover {
  background-image: url('../images/linkedin_hover.png');
}

div#preload { display: none; }

/*connect end*/

/*

  Site Name: PageScroller Theme Builder
  Site URI: http://www.pagescroller.com
  Author: Dairien Boyd

  --------------------------------
  
  1.  Document Styles
  2.  Page Structure
  3.  Global Classes
  4.  Home
  5.  Work
  6.  Our History
  7.  Contact Us
  8.  Theme Builder
  9.  Footer

*/

/*:::::::::: [ ARROW STYLES ] - BEGIN ::::::::::*/

#arrow-controls{
  position: fixed;
  z-index: 999;
  height: 94%;
  top: 3%;
  right: 5%;
  width: 20px;
  text-align: center;
  display: block;
}

#arrow-controls.left{
  right: inherit;
  overflow: visible;
  left: 3%;
}

#arrow-controls a{
  display: block;
  position: absolute;
  padding: 10px 8px 3px;
  padding-right: 10px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, .3);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, .3);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, .3);
}

#arrow-controls.light a{
  border: 2px solid #fff;
  background: #000;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f6f6', endColorstr='#e8e7e7',GradientType=0 ); /* IE6-9 */
}

#arrow-controls a:hover{
  text-decoration: none;
  color: #fff;
}

#arrow-controls a.next{
  bottom: 0;
}

#arrow-controls a.prev{
  top: 0;
}

/*:::::::::: [ ARROW STYLES ] - END ::::::::::*/


